<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kings.base.domain.demo2.mapper.Demo2Mapper">
    <resultMap id="BaseResultMap" type="com.kings.base.domain.demo2.entity.Demo2">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select <include refid="Base_Column_List"/> from t_demo2 where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectAll" parameterType="map" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from t_demo2
    </select>
</mapper>